/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';

.title-with-pagination {
  overflow: auto;
  width: 100%;
  
  h1 {
    float:left;
  }

  .pagination {
    float:right;
  }
}

table.listing-table {

  .image {
    height: 80px;
    width: 80px;
  }

  td.image-column {
    width: 80px;
  }

  h4.name {
    margin: 4px 0px;
  }

  ul.tag_list {
    display:block;
    margin:0;
    padding:0; 
  }

  ul.tag_list li {
    margin:0 3px 3px 0;
    display:inline;
    background-color: #dfeaf4;
    color: #19558d;
    font-size: 90%;
    padding: 2px;
  }

  p.description {
    color: #777;
  }

  td.options-column {
    width:80px;
  }

  td.options-column a {
    display: block;
  }
}

.edit-image {
  overflow: auto;
  float: right;

  img {
    height: 150px;
    width: 150px;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
  }

  input {
    display: block;
  }
}