/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
label {
  font-weight: bold;
}

.select2-container .select2-choices {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.select2-container .select2-choices li.select2-search-choice {
  margin: 5px 0px 5px 5px;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background-image: none !important;
}